*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}


h1{
    color: #f0082b;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
section{
    color: #f0082b;
    font-size: 25px;
    padding: 35px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;


}



span {
    color: #020100;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;



}



ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 100px;


}






.button {
    position: absolute;
    top: 60%;
    left: 49%;
    transform: translate(-40%, -60%);
    border-radius: 20px;
  background: #38ca24;
    color: #fff;
    padding: 10px 20px;
 
}
a{
    text-decoration: none;
    color: #0a0a0a;
    font-size: 25px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}